[submodule "vim/bundle/command-t"]
	path = vim/bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule "vim/bundle/solarized"]
	path = vim/bundle/solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
