[Desktop Entry]
Type=Application
Exec=env WAYLAND_DISPLAY= alacritty --class AlacrittyBare
Icon=Alacritty
Terminal=false
Categories=System;TerminalEmulator;

Name=Bare Terminal
StartupWMClass=AlacrittyBare

X-Desktop-File-Install-Version=0.26
