[Desktop Entry]
Name=Tmux
Keywords=shell;prompt;command;commandline;
# Force the shell to be interactive, so that color settings
# get sourced and tmux itself runs with the right env vars.
Exec=gnome-terminal -e "fish -i -c tmux"
Icon=utilities-terminal
Type=Application
Categories=GNOME;GTK;System;TerminalEmulator;
StartupNotify=true
