[Desktop Entry]
Type=Application
Exec=alacritty -e tmux
Icon=Alacritty
Terminal=false
Categories=System;TerminalEmulator;

X-Desktop-File-Install-Version=0.28

Name=Tmux
